{% extends 'buscador/base.html.twig' %}

{% block contenido %}
<div class="main">
    {% if editarDatos and logueado %}
    <div id="formEdicion">
      <h3 class="text-2xl">Edición de la medición</h3>
      {{ form(formEdicionMedicion) }}
    </div>
    {% else %}
    <div id="datos" class="">
      <h3 class="text-2xl">Información de la medición</h3>
      <p class="text-xl">Lugar: <b>{{ info.localizacion }}</b></p>
      <p>Archivo: {{ info.archivo }}</p>
      <p>Fecha y hora: {{ info.fecha }}, {{ info.hora }}</p>
      <p>Latitud/Longitud: {{ info.latitud }}/{{ info.longitud }}</p>
      <p>Altitud: {{ info.altitud }}</p>
      <p>Autoría: {{ info.autoria }}</p>

      <p class="text-xl">Observaciones:</p>
      <p>{{ observaciones }}</p>

      <!--Aquí se construyen los gráficos-->
      <div id="imagenes" class="flex flex-wrap">
        <img src="{{ grafico }}" height="200" width="200">
        <img src="{{ grafico_1 }}" height="200" width="200">
      </div>

      {% if logueado %}
        <br>
        <div class="form flex flex-wrap gap-3">
          {{ form(formBotonEditar) }}
          {{ form(formBotonBorrar) }}
        </div>
      {% endif %}
      <div id="enlacesAdicionales">
        <p> Más información meteorológica del lugar: <a href="{{ enlaceMeteo }}">Pinchar aquí</a></p>
        <p> Información de la calidad del aire: <a href="{{ enlaceAire }}">Calidad del aire</a></p>
      </div>
    </div>
    {% endif %}

    <a href="/busqueda/descargar/{{ info.id }}" class="button">Descargar todo</a>

    <!--Tabla de datos adicionales de www.meteoblue.com-->
    <br>
    <br>
    <div id="tablaMeteorologica">
      {{ tabla | raw }}
    </div>

</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="/busqueda/mediciones_fotos">
            <i class="nc-icon nc-bank"></i>
            <p>Mediciones y fotografías</p>
          </a>
        </li>
        <li>
          <a href="/mapa">
            <i class="nc-icon nc-diamond"></i>
            <p>Mapa Interactivo</p>
          </a>
        </li>
      </ul>
    </div>
</div>
{% endblock %}