{% extends 'buscador/base.html.twig' %}

{% block detalles %}
<div>
    <h3 class="text-2xl">Información de la medición</h3>
    <p class="text-xl">Lugar: <b>{{ info.localizacion }}</b></p>
    <p>Archivo: {{ info.nombre }}</p>
    <p>Fecha: {{ info.fecha }}</p>
    <p>Latitud/Longitud: {{ info.latitud }}/{{ info.longitud }}</p>
    <p>Altitud: {{ info.altitud }}</p>
    <p>Autoría: {{ info.autoria }}</p>

    <!--Aquí se construyen los gráficos-->
    <img src="{{ grafico }}" height="200" width="200">

    <p>Más información de medición: <a href="{{ enlace }}">pinchar aquí</a></p>

    <a href="/busqueda/descargar/{{ info.id }}" class="button">Descargar todo</a>

    <!--Tabla de datos adicionales de www.meteoblue.com-->
    <br>
    <br>
    {{ tabla | raw }}

</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="/busqueda/mapas_fotos">
            <i class="nc-icon nc-bank"></i>
            <p>Mapas y fotografías</p>
          </a>
        </li>
        <li>
          <a href="/busqueda/datos">
            <i class="nc-icon nc-diamond"></i>
            <p>Datos y gráficos</p>
          </a>
        </li>
      </ul>
    </div>
</div>
{% endblock %}