{% extends 'buscador/base.html.twig' %}

{% block title %}
<title>Búsqueda de mediciones</title>
{% endblock %}

{% block titular %}
<p class="font-serif text-5xl">Búsqueda de mediciones</p>
{% endblock %}

{% block contenido %}
<div class="col-md-12">
    <h3 class="description"></h3>

    {% if logueado %}
    <div class="grid justify-items-center">
      <h3>Puedes subir aquí los últimos datos de medición recogidos</h3>
      {% if subido == 'true' %}
      <div class="bg-green-500 bg-opacity-50">
        <h3>Archivo subido con éxito</h3>
      </div>
      {% elseif subido == 'false' %}
      <div class="bg-red-500 bg-opacity-50">
        <h3>Error: el formato no es txt</h3>
      </div>
      {% endif %}
      {{ form(form_archivo) }}
    </div>
    {% endif %}

    <!--Mostrar los datos disponibles-->
    <div id="galeria" class="grid grid-cols-3 gap-4">
      {% for row in datos %}
        <!--Cada elemento rodeado por bordes-->
        <div id="elemento" class="rounded border border-solid grid justify-items-center">
          <p class="font-bold text-lg">{{ row.localizacion }}</p>
          <p>{{ row.fecha }}</p>
          <p>{{ row.autoria }}</p>
          <a href="detalles/{{ row.id }}">Ver detalles</a>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="/busqueda/mapas_fotos">
            <i class="nc-icon nc-bank"></i>
            <p>Mapas y fotografías</p>
          </a>
        </li>
        <li>
          <a href="/mapa">
            <i class="nc-icon nc-diamond"></i>
            <p>Datos y gráficos</p>
          </a>
        </li>
      </ul>
    </div>
</div>
{% endblock %}