{% extends 'portada/base.html.twig' %}

{% block title %}
<title>Calidad lumínica de Granada</title>
{% endblock %}

{% block banner %}
<div id="banner" class="col-start-2 ml-5 col-span-3">
</div>
{% endblock %}

{% block resumen_login %}
{% if logueado == true and app.request.attributes.get('_route') != 'user' %}
	<div id="usuario" class="col-start-5 col-span-2 ml-16 mr-16 mt-5 pl-8 pr-4 text-2xl border-double border-4 ">
		<div class="grid grid-cols-2 gap-4 flex justify-items-center">
			<p class="font-bold">{{ nombrecompleto }}</p>
			{% if fotoPerfil != "" and fotoPerfil != null %}
			<img src="/uploads/fotos_perfil/{{fotoPerfil}}" width="100" height="100">
			{% endif %}
			<p>Alias: "{{ nick }}."</p>
			<p>Rol: {{role.rango}}</p>
			<p class="col-span-2">Biografía: {{ bio }}</p>
			<a href="/user">Ir al perfil</a>
		</div>
	</div>
{% endif %}
{% endblock %}

{% block main_container %}
<div id="main" class="container mt-10">
	<div class="row">
		<div class="9u">
			<section>
				<header>
					<p class="text-4xl">Importancia de la concienciación en la contaminación lumínica</p>
					<span class="byline">¿Qué es la contaminación lumínica?</span>
				</header>
				<p>La contaminación lumínica, también llamada a veces contaminación luminosa, es la iluminación ineficiente de nuestras ciudades durante la noche, la cual emite parte de la luz hacia el cielo provocando que éste tenga una luminosidad antinatural que conlleve una peor percepción del cielo.</p>
			</section>
			<section>
				<header>
					<p class="text-4xl">¿Cómo se genera?</p>
					<span class="byline">Entre las principales causas encontramos:</span>
				</header>
				<ul>
					<li><p>• Mal diseño de las farolas: parte de su luz se emite innecesariamente hacia arriba como las farolas tipo globo.</p></li>
					<li><p>• Exceso de potencia en las luces artificiales.</p></li>
					<li><p>• Existencia de horarios poco eficientes de la iluminación artificial.</p></li>
					<li><p>• Uso de lámparas que emiten en el espectro de luz que no es útil para el ser humano, pero que afecta a otros seres vivos o el desarrollo de actividades como la astronomía.</p></li>
					<li><p>• La mala instalación de la luminaria no ilumina el objeto o espacio que se necesita.</p></li>
					<li><p>• Cantidad excesiva de luminarias o una intensidad luminosa inadecuada que hace que se refleje en el cielo.</p></li>
				</ul>
			</section>
			<section>
				<header>
					<p class="text-4xl">¿Cuáles son sus consecuencias?</p>
					<span class="byline">Las principales consecuencias de este fenómeno son:</span>
				</header>
				<ul>
					<li><p>• Energéticas: se desaprovecha más de un 25% de la energía, lo que nos lleva a la siguiente consecuencia que es el mayor coste de la luz.</p></li>
					<li><p>• Económicas: más del 50% por ciento de la factura de la luz de un municipio se debe al alumbrado público, por lo que el desperdicio de la luz hacia zonas que no necesitan estar iluminadas conlleva un aumento de la carga impositiva al ciudadano.</p></li>
					<li><p>• Ambientales: este desperdicio energético se traduce en mayores emisiones de gases contaminantes o mayores residuos radiactivos según el tipo de centrales eléctricas que provean esta energía. También afecta al ciclo vital de especies animales, vegetales y a los seres humanos.</p></li>
					<li><p>• Culturales: impide contemplar el cielo estrellado con calidad.</p></li>
				</ul>
			</section>
		</div>
		<div class="3u">
			<section class="sidebar">
				<header>
					<h2>Últimos datos</h2>
				</header>
				<ul class="style2">
					<li>
						<a href="#"><img src="images/pics07.jpg" alt=""></a>
						<p></p>
					</li>
					<li>
						<a href="#"><img src="images/pics08.jpg" alt=""></a>
						<p></p>
					</li>
					<li>
						<a href="#"><img src="images/pics09.jpg" alt=""></a>
						<p></p>
					</li>
					<li>
						<a href="#"><img src="images/pics10.jpg" alt=""></a>
						<p></p>
					</li>
				</ul>						
			</section>
		</div>
		
	</div>
</div>
{% endblock %}

{% block footer %}

	<div class="col-start-2 col-span-2">
		
	</div>

{% endblock %}
